.login-form {
    max-width: 255px;
    display: flex;
    flex-direction: column;
    top: 50%;
    justify-content: center;
}

.login-form h1 {
    text-align: center;
    color: var(--main-text-color-dark);
}

.forgot-button-container {
    text-align: right;
    padding-top: 8px;
    padding-bottom: 31px;
}