.text-button {
    font-size: 14px;
    text-decoration: none;
    line-height: 1.7;
    color: #666666;
    margin: 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.text-button:focus {
    outline: none !important;
}

.text-button:hover {
    text-decoration: none;
    color: #57b846;
}

.text-button:active {
    color: black;
}