header {
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.nav-bar {
    display: flex;
    flex-direction: row;
}

.toggle-button-container {
    align-self: center;
    margin: 0 1rem;
}

.button {
    color: white;
    margin: 0;
    background: transparent;
    padding: 15px 32px;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.header-right button {
    height: 100%;
}

.button:hover {
    border-bottom-color: white;
    transition: all 0.2s;
    cursor: pointer;
}

.separator-button {
    flex: 1;
}

@media (max-width: 768px) {
    .header-left {display: none}
    .header-right {display: none}
}

@media (min-width: 769px) {
    .toggle-button-container {display: none}
}