.balances-valued {
    color: green;
}

.balances-devalued {
    color: red;
}

.drawer-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: var(--background-color-drawer);
    border: solid 1px var(--border-color-row);
    max-height: 500px;
    border-top: none;
    transition: all 0.1s ease-in-out;
}

.drawer-container.hide {
    max-height: 0;
    opacity: 0;
    border: none;
    overflow: hidden;
}

.deposit-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center;
}

.deposit-address {
    background-color: var(--background-color-address);
    border: solid 1px var(--border-color-row);
    margin: 0 1rem 32px 1rem;
}

.deposit-address p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    display: inline-block;
    margin: 10px 15px;
}

.right-div {
    justify-content: center;
    display: flex;
    flex-grow: 1;
}

.qr-container {
    margin: 5px;
    padding: 10px;
    height: 150px;
    width: 154px;
    background-color: var(--background-color-address);
    border: solid 1px var(--border-color-row);
}

.deposit-container div,
.deposit-container h5,
.withdraw-container div,
.withdraw-container h5 {
    text-align: center;
    color: var(--text-color-row);
}

.withdraw-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border-top: none;
    max-height: 200px;
}

.withdraw-address-container {
    margin: 20px;
}

.withdraw-address {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.withdraw-address label {
    margin-right: 5px;
}

.withdraw-address input {
    display: flex;
    flex-grow: 1;
}

.withdraw-button-container {
    display: flex;
    margin: 10px;
    justify-content: flex-end;
}

.withdraw-button-container button {
    border: 0;
    text-decoration: none;
    outline: none;
    line-height: 1.2;
    transition: all 0.4s;
}

.withdraw-button-container button:hover {
    background-color: var(--deposit-button-color-hover);
    cursor: pointer;
}

.withdraw-button-container button:active {
    background-color: var(--deposit-button-color-active);

}

@media all and (max-width: 767px) {
    .withdraw-button-container {
        justify-content: center;
        margin: 10px;
    }
}
